{#{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" >{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}#}

<div class="container">
    <div class="row">
        <div class="col-md-10 ml-md-auto">
            <div class="">
                <div class="card bg-light mb-3 mt-5" style="">
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_row(form.date) }}
                        {{ form_row(form.motif) }}
                        {{ form_row(form.bilan) }}
                        {{ form_row(form.medecin) }}
                        <button type="button" class="add_item_link" data-collection-holder-class="offrirs">Offrir</button>
                        <button type="button" class="delete_item_link" id="removeBtn" onclick="removeInput()">Supprimer</button>

                        <ul class="offrirs" data-index="{{ form.offrirs|length > 0 ? form.offrirs|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.offrirs.vars.prototype)|e('html_attr') }}">
                            {% for offrir in form.offrirs %}
                                <div id="medic">
                                    <li>
                                        {{ form_row(offrir.quantite) }}
                                        {{ form_row(offrir.medicament) }}
                                    </li>
                                </div>
                            {% endfor %}
                        </ul>
                        <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script>
        function removeInput() {
            document.querySelector("ul.offrirs li:last-child").remove();
        }

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
            const item = document.createElement('li');
            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );
            collectionHolder.appendChild(item);
            collectionHolder.dataset.index++;
        };
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => btn.addEventListener("click", addFormToCollection));
    </script>
{% endblock %}